# Detecting Breast Cancer

One interesting application of machine learning is in the area of medical diagnoses. Implement Neural Network in python to classify the data into Benign or Malignant for the Wisconsin Diagnostic Breast Cancer (WDBC) dataset. 

### Things to keep in mind: 
* How will you choose the features? 
* How will you train, validate, and test your model?
* How will you overcome overfitting?

### Write-up
In your write-up, please attach training curves, final losses, and visualizations of errors made by the trained model, along with a description of the methods/tricks you tried to improve performance.

In [ ]:
import numpy as np
import pandas as pd

import torch

In [ ]:
DATASET_URL = 'http://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data'
COLUMN_NAMES = [
  'Sample code number',
  'Clump Thickness',
  'Uniformity of Cell Size',
  'Uniformity of Cell Shape',
  'Marginal Adhesion',
  'Single Epithelial Cell Size',
  'Bare Nuclei',
  'Bland Chromatin',
  'Normal Nucleoli',
  'Mitoses',
  'Class',
]
dataset = pd.read_csv(DATASET_URL, names=COLUMN_NAMES)

## Dataset description


|  Attribute               |     	 	Domain |
|--- | ---|
|   1. Sample code number |           	id number|
|   2. Clump Thickness     |          	1 - 10|
|   3. Uniformity of Cell Size |      	1 - 10|
|   4. Uniformity of Cell Shape |     	1 - 10|
|   5. Marginal Adhesion         |    	1 - 10|
|   6. Single Epithelial Cell Size |  	1 - 10|
|   7. Bare Nuclei       |            		1 - 10
|   8. Bland Chromatin  |             		1 - 10
|   9. Normal Nucleoli |              		1 - 10
|  10. Mitoses   |                    		1 - 10
|  11. Class:    |                    		(2 for benign, 4 for malignant)|

In [ ]:
dataset.head()

   Sample code number  Clump Thickness  ...  Mitoses  Class
0             1000025                5  ...        1      2
1             1002945                5  ...        1      2
2             1015425                3  ...        1      2
3             1016277                6  ...        1      2
4             1017023                4  ...        1      2

[5 rows x 11 columns]

In [ ]:
# Normalize your dataset, and split your dataset between test, train, and validation

In [ ]:
# Define you model here

In [ ]:
# Train your model

In [ ]:
# Test your model